main {
  justify-content: center;
}

.Center-text {
  text-align: center;
}

.Ads-container {
  padding: 10px;
  justify-content: center;
}

.Modal-container {
  padding: 20px;
  justify-self: center;
}

.Form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}